# Archivos de compilación
*.class

# Archivos de registro
*.log

# Archivos generados por NetBeans
nbproject/private/
build/
dist/
nbbuild/
nbdist/
.nb-gradle/

# Archivos temporales
*.tmp
*.bak
*.swp
*~

# Archivos del sistema operativo
.DS_Store
Thumbs.db
